{% load static %}
{% load extras %}

<div class="col-md-4 filters">
	<p><strong>Refine by:</strong></p>

	<form id="faceted-search-events" method="post" action="{% url 'stoudygroups_filter' %}">
		<div class="hidden-xs hidden-sm">
			<h4>Location</h4>
			<hr />
		</div>
		<ul class="list-unstyled hidden-xs hidden-sm">
			{% for location in locations %}
				<li>
					<label for="id_location_{{ forloop.counter0 }}">
						<input class="filter-form-element" id="id_location_{{ forloop.counter0 }}"
	            name="location" type="checkbox" value="{{ location }}">
						{{ location }}
					</label>
				</li>
			{% endfor %}
		</ul>
		<select name="location" class="filter-form-element form-control hidden-md hidden-lg">
				<option value="">Location</option>
				{% for location in locations %}
					<option value="{{ location }}">{{ location }}</option>
				{% endfor %}
			</select>
	</form>
</div>

<div id="events-container" class="col-md-8">
	{% for lc in learning_circles %}
		{% include 'studygroups/learning-circles-tile.html' %}
	{% endfor %}
</div>